/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835", "brcm,bcm2836", "brcm,bcm2708", "brcm,bcm2709";

	fragment@0 {
		target = <&pwm>;
		__overlay__ {
			pinctrl-names = "default";
			/* PWM for steering and motor */
			pinctrl-0 = <&pwm0_0_gpio12 &pwm0_1_gpio13>;
		};
	};

	fragment@1 {
		target = <&i2c0_0>;
		__overlay__ {
			status = "okay";

			imx219@10 {
				compatible = "sony,imx219";
				reg = <0x10>;
				status = "okay";

				clocks = <&clk_24mhz>;
				clock-names = "xclk";

				VANA-supply = <&cam1_reg>;	/* 2.8v */

				port {
					cam_endpoint: endpoint {
							      clock-lanes = <0>;
							      data-lanes = <1 2>;
							      clock-noncontinuous;
							      link-frequencies =
								      /bits/ 64 <456000000>;
								/*remote-endpoint = <&csi_ep>;*/
						      };
				};

			};

		};
	};

	fragment@2 {
		target-path = "/";
		__overlay__ {
			clk_24mhz: clk_24mhz {
					compatible = "fixed-clock";
					#clock-cells = <0>;

					clock-frequency = <24000000>;
					status = "okay";
			};
		};
	};

	fragment@3 {
		target = <&csi0>;
		__overlay__ {
			status = "okay";

			port {
				csi_ep: endpoint {
					remote-endpoint = <&cam_endpoint>;
					clock-lanes = <0>;
					data-lanes = <1 2>;
					clock-noncontinuous;
				};
			};
		};
	};
};

&cam_endpoint {
	remote-endpoint = <&csi_ep>;
};